.item-container {
    display: flex;
    align-items: center;
    gap: 16px;

    .infos {
        p {
            font-weight: bold;
        }

        small {
            font-style: italic;
        }
    }

    .image {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: lightblue;
    }
}
