<main>
    <section id="list">
        <div class="filters-wrapper">
            <input type="text" placeholder="Pesquisar">
            <button>Filtro</button>
        </div>
        <div class="list-items">
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
            <div>
                <p>Mon 1</p>
                <small>breve descrição</small>
            </div>
        </div>
    </section>
    <section id="filters">Filtros avançados</section>
    <section id="infos">Infos</section>
    <!-- <div style="height: 200px; background-color: orange; margin-bottom: 4px;"></div> -->
</main>