<main>
    <section id="list">
        <div class="filters-wrapper">
            <input type="text" placeholder="Pesquisar">
            <button>Filtro</button>
        </div>
        <div class="list-items">
            @for (mon of mons; track $index) {
                <mon-list-item>
                    <item-name>{{mon.name}}</item-name>
                    <item-anime>{{mon.anime}}</item-anime>
                </mon-list-item>
            }
        </div>
    </section>
    <section id="filters">Filtros avançados</section>
    <section id="infos">Infos</section>
    <!-- <div style="height: 200px; background-color: orange; margin-bottom: 4px;"></div> -->
</main>